/* build time:Tue Jan 28 2025 19:44:14 GMT+0800 (中国标准时间)*/
body{background-image:url(/css/1.svg);background-position-x:center;background-position-y:center;background-repeat:no-repeat;background-attachment:fixed;background-size:cover}
/* rebuild by neat */